spring:
  application:
    name: discord-bot-server-monitoring
discord:
  token:
  guild-id:
  rto-alert-channel-id:
prometheus:
  baseUrl: http://127.0.0.1:9090
pihole:
  base-url: http://pi.hole:80
  password:
  relogin-interval-ms: 1500000
waha:
  base-url: http://localhost:3000    # URL WAHA kamu
  session: default                   # nama session WAHA
  api-key: your-secret
  per-message-delay-ms: 2300   # 2.3 detik antar pesan (bebas ganti)
  reminder:
    phones: "62xx,62yy"
  jp-holiday-reminder:
    phones: "62zz,62aa"