spring:
  application:
    name: discord-bot-server-monitoring
discord:
  token:
  guild-id:
  rto-alert-channel-id:
prometheus:
  baseUrl: http://127.0.0.1:9090
  query: >
    sum by (instance, alias) (
      count_over_time(probe_success{job="blackbox_ping"}[1m])
      - sum_over_time(probe_success{job="blackbox_ping"}[1m])
    )
polling:
  intervalMs: 3000
  cooldownSec: 60